/* 
Die verwendete Schriftart: Lato
Die background-color ist #D9E8E5, der graue Text ist rgba(0,0,0,.8)
Nutze margin: auto um die letzten beiden Menüpunkte an den rechten Rand zu positionieren
Nutze flex-wrap: wrap für die Bildergalerie.
 */
/* ==========
fonts
========== */
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf);
}
/* ==========
Allgemein
========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #d9e8e5;
    font-family: 'Lato';
}
/* ==========
HEADER
========== */
header {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}
header nav {
    flex-basis: 70%;
}
header div a {
    font-size: .8rem;
    color: rgba(0,0,0,.8);
}
header ul {
    display: flex;
    gap: 1rem;
    height: 100%;
    
}
header li {
    list-style: none;
    font-size: .5rem;
}
header li:nth-of-type(5) {
    margin-left: auto;
}
header a{
    text-decoration: none;
    color: rgba(0,0,0,.6);
}
header nav a:hover {
    color: black;
}
/* ==========
MAIN
========== */
/* ===== Gallerie ===== */
section {
    margin: 10vh 15vw;
}
section h2 {
    font-size: .9rem;
    margin-bottom: .6rem;
}
main div {
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
}
img {
    height: 150px;
    width: 200px;
}